:root {
  --accent-color: #8cb4ff;
  --background-color: #181818;
  --border-color: #303030;
  --error-color: #db6b6b;
  --foreground-color: #cccccc;
  --input-background-color: #303030;
  --toolbar-background-color: #202020;
}

*,
*::before,
*::after,
dialog,
dialog *,
dialog *::before,
dialog *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  user-select: none;
}

header {
  margin-bottom: 1.5rem;
}

main {
  display: flex;
  gap: 2rem;
}

#title {
  text-wrap: nowrap;
}

button,
label,
input {
  font-size: 1.5rem;
}

button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.25rem 1.25rem;
}

.field {
  align-items: center;
  display: flex;
  gap: 1rem;
}

label {
  margin-right: 1rem;
  text-wrap: nowrap;
}

input {
  background-color: var(--input-background-color);
  border: 0.125rem solid var(--border-color);
  border-radius: 0.5rem;
  color: inherit;
  text-align: center;
  width: 5rem;
}

input:focus {
  outline: none;
}

input.error {
  border-color: var(--error-color);
}

.icon {
  background: transparent;
  border-radius: unset;
  color: var(--foreground-color);
  font-size: 2rem;
  padding: unset;
}

.icon.faded {
  opacity: 30%;
}

button .icon:hover {
  color: var(--accent-color);
}

dialog {
  background-color: inherit;
  border: 0.125rem solid var(--border-color);
  border-radius: 1rem;
  color: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: inherit;
}

dialog::backdrop {
  background-color: black;
  opacity: 50%;
}

dialog .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

#toolbar, #color-menu {
  list-style: none;
}

#toolbar {
  align-items: center;
  background-color: var(--toolbar-background-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0.75rem;
  width: 6rem;
}

.active {
  color: var(--accent-color);
}

#color-picker-and-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 2.5rem;
}

#color-picker {
  height: 2.5rem;
  width: 2.5rem;
}

#color-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

#color-menu.hidden {
  display: none;
}

#color-menu button {
  border-radius: 0.375rem;
  padding: calc(2.5rem / 4 - 0.25rem / 4);
}

li:has(.open.settings.icon) {
  margin-top: auto;
}

#grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 48rem;
  width: 48rem;
}

.pixel-row {
  display: flex;
  flex: 1;
}

.pixel {
  background-color: black;
  box-shadow: 0 0 0 0.0625rem #020202;
  flex: 1;
}

.pixel:hover {
  box-shadow: 0 0 0 0.0625rem white;
  z-index: 1;
}

[data-color='red'] {
  background-color: red;
}

[data-color='orange'] {
  background-color: orange;
}

[data-color='yellow'] {
  background-color: yellow;
}

[data-color='green'] {
  background-color: green;
}

[data-color='blue'] {
  background-color: blue;
}

[data-color='purple'] {
  background-color: purple;
}

[data-color='pink'] {
  background-color: pink;
}

[data-color='white'] {
  background-color: white;
}

[data-color='black'] {
  background-color: black;
}
