:root {
  --accent-color: #8cb4ff;
  --background-color: #181818;
  --border-color: #303030;
  --error-color: #db6b6b;
  --foreground-color: #cccccc;
  --input-background-color: #303030;
}

*,
*::before,
*::after,
dialog,
dialog *,
dialog *::before,
dialog *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  user-select: none;
}

header {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

#title {
  text-wrap: nowrap;
}

button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.25rem 1.25rem;
}

.field {
  display: flex;
  gap: 1rem;
}

label {
  margin-right: 1rem;
  text-wrap: nowrap;
}

input {
  background-color: var(--input-background-color);
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.5rem;
  color: inherit;
  text-align: center;
  width: 5rem;
}

input:focus {
  outline: none;
}

input.error {
  border-color: var(--error-color);
}

.icon {
  background: transparent;
  border-radius: unset;
  color: var(--foreground-color);
  font-size: 2rem;
  padding: unset;
}

button.settings:hover {
  color: var(--accent-color);
}

dialog {
  background-color: inherit;
  border: 0.125rem solid var(--border-color);
  border-radius: 1rem;
  color: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: inherit;
}

dialog::backdrop {
  background-color: black;
  opacity: 50%;
}

dialog .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

dialog label,
dialog input,
dialog button {
  font-size: 1.5rem;
}

#grid {
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  background-color: black;
  border: 0.0625rem solid #020202;
}

.pixel:hover {
  outline: 0.0625rem solid var(--border-color);
  z-index: 1;
}

.pixel.filled {
  background-color: red;
}
