*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #181818;
  color: #cccccc;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  user-select: none;
}

header {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

#title {
  text-wrap: nowrap;
}

button.settings {
  background: transparent;
  border: none;
  color: #cccccc;
  cursor: pointer;
  font-size: 2rem;
}

button.settings:hover {
  color: #8cb4ff;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: calc(3rem * 16);
}

.pixel {
  background-color: black;
  border: 0.0625rem solid #020202;
  height: 3rem;
  width: 3rem;
}

.pixel:hover {
  opacity: 70%;
}

.pixel.filled {
  background-color: red;
}
